.quantityInput {
    display: inline-block;
    width: 51px;
    padding:0;
    border: none;
    margin: 4px;
    font-weight: 700;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}